@media only screen and (max-width: 650px) {
  h1 {
    font-size: 5rem;
  }

  .text-intro {
    font-size: 1.8rem;
    line-height: normal;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 4.5rem;
  }

  .text-intro {
    /* font-size: 1.5rem; */
    line-height: normal;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 3.8rem;
  }

  .text-intro {
    font-size: 1.5rem;
    line-height: normal;
  }
}